			<!-- "СПИСОК ПОМЕЩЕНИЙ" ДОМ 5-->
			<div class="card">
				<ul class="card__select">
					<li class="active">
						<h5>Помещение №1</h5>
						<p>Площадь: <span>160кв.м</span></p>
					</li>
					<li>
						<h5>Помещение №2</h5>
						<p>Площадь: <span>110кв.м</span></p>
					</li>
					<li>
						<h5>Помещение №3</h5>
						<p>Площадь: <span>130кв.м</span></p>
					</li>
				</ul>
				
				<!-- ДОМ 5 ПОМЕЩЕНИЕ 1 -->
				<div class="card__info active">
					<div class="card__info-box">
						<div class="owl-carousel card__info-slider">
							<div><img src="img/commerce/realty/4et.png" alt="#"></div>
							<div><img src="img/commerce/realty/4et.png" alt="#"></div>
							<div><img src="img/commerce/realty/4et.png" alt="#"></div>
						</div>
						<p> Дом 5 помещение 1 ное помещение прекрасно подойдет для множества бизнесов.Минимальное количество несущих опор помогут собственнику организавать площадь под своему усмотрению. 
						Солнечная сторона может позволит значительно сэкономить на электроэнергии о создаст приятную атмосферу. Рядом распологается паркинг на 100 машин. В ЖК "За ручьем" приятно делать бизнес! Мы рады делать вашу жизнь приятнее и проще.  </p>
					</div>
					<div class="card__info-price">
						<h3><strong>Запишитесь</strong><br>на просмотр помещения</h3>
						<a class="btn btn__green" href="#written" data-effect="mfp-move-from-top">записаться</a>
						<p>*Наш менеджер свяжется с вами в течении 30 минут</p>
						<hr>
						<p>Общая площадь:<span>160кв.м</span></p>
						<p>Время сдачи:<span>1 кв. 2019 г</span></p>
						<p>Остекление:<span>Витражное</span></p>
						<p>Планировка:<span>open space</span></p>
						<p>Расположение:<span>1 линия</span></p>
						<hr>
						<p>Стоимость:</p>
						<p data-price="old">6 700 000 р.</p>
						<p data-price="new">6 120 000 р.</p>
						<ul>
							<li>Октябрь</li>
						</ul>
						<p>Действуют специальные цены</p>
					</div>
				</div>

				<!-- ДОМ 5 ПОМЕЩЕНИЕ 2 -->
				<div class="card__info">
					<div class="card__info-box">
						<div class="owl-carousel card__info-slider">
							<div><img src="img/commerce/realty/4et.png" alt="#"></div>
							<div><img src="img/commerce/realty/4et.png" alt="#"></div>
							<div><img src="img/commerce/realty/4et.png" alt="#"></div>
						</div>
						<p> Дом 5 помещение 2 ное помещение прекрасно подойдет для множества бизнесов.Минимальное количество несущих опор помогут собственнику организавать площадь под своему усмотрению. 
						Солнечная сторона может позволит значительно сэкономить на электроэнергии о создаст приятную атмосферу. Рядом распологается паркинг на 100 машин. В ЖК "За ручьем" приятно делать бизнес! Мы рады делать вашу жизнь приятнее и проще.  </p>
					</div>
					<div class="card__info-price">
						<h3><strong>Запишитесь</strong><br>на просмотр помещения</h3>
						<a class="btn btn__green" href="#written" data-effect="mfp-move-from-top">записаться</a>
						<p>*Наш менеджер свяжется с вами в течении 30 минут</p>
						<hr>
						<p>Общая площадь:<span>160кв.м</span></p>
						<p>Время сдачи:<span>1 кв. 2019 г</span></p>
						<p>Остекление:<span>Витражное</span></p>
						<p>Планировка:<span>open space</span></p>
						<p>Расположение:<span>1 линия</span></p>
						<hr>
						<p>Стоимость:</p>
						<p data-price="old">6 700 000 р.</p>
						<p data-price="new">6 120 000 р.</p>
						<ul>
							<li>Октябрь</li>
						</ul>
						<p>Действуют специальные цены</p>
					</div>
				</div>

				<!-- ДОМ 5 ПОМЕЩЕНИЕ 3 -->
				<div class="card__info">
					<div class="card__info-box">
						<div class="owl-carousel card__info-slider">
							<div><img src="img/commerce/realty/4et.png" alt="#"></div>
							<div><img src="img/commerce/realty/4et.png" alt="#"></div>
							<div><img src="img/commerce/realty/4et.png" alt="#"></div>
						</div>
						<p> Дом 5 помещение 3 ное помещение прекрасно подойдет для множества бизнесов.Минимальное количество несущих опор помогут собственнику организавать площадь под своему усмотрению. 
						Солнечная сторона может позволит значительно сэкономить на электроэнергии о создаст приятную атмосферу. Рядом распологается паркинг на 100 машин. В ЖК "За ручьем" приятно делать бизнес! Мы рады делать вашу жизнь приятнее и проще.  </p>
					</div>
					<div class="card__info-price">
						<h3><strong>Запишитесь</strong><br>на просмотр помещения</h3>
						<a class="btn btn__green" href="#written" data-effect="mfp-move-from-top">записаться</a>
						<p>*Наш менеджер свяжется с вами в течении 30 минут</p>
						<hr>
						<p>Общая площадь:<span>160кв.м</span></p>
						<p>Время сдачи:<span>1 кв. 2019 г</span></p>
						<p>Остекление:<span>Витражное</span></p>
						<p>Планировка:<span>open space</span></p>
						<p>Расположение:<span>1 линия</span></p>
						<hr>
						<p>Стоимость:</p>
						<p data-price="old">5 700 000 р.</p>
						<p data-price="new">5 120 000 р.</p>
						<ul>
							<li>Октябрь</li>
						</ul>
						<p>Действуют специальные цены</p>
					</div>
				</div>

			</div> <!-- card -->