/* Font */ 
+font-face("OpenSans", "../fonts/OpenSans/OpenSans")
+font-face("OpenSans", "../fonts/OpenSans-Light/OpenSans-Light", 200)
+font-face("OpenSans", "../fonts/OpenSans-Semibold/OpenSans-Semibold", 600)
+font-face("OpenSans", "../fonts/OpenSansBold/OpenSansBold", 700)
+font-face("TTNorms", "../fonts/TTNorms-Light/TTNorms-Light", 200)
+font-face("TTNorms", "../fonts/TTNorms-Bold/TTNorms-Bold", bold)

$default-font: "TTNorms", sans-serif
$open-sans-font: "OpenSans", sans-serif

// Color
$accent: #0c3577
$green: #6a8c75
$btn: #0a70c8
$icon: #9d9690
$dark: #1f212c
$dirt: #ad9a82


// Size
$base-font-size: 16px

$content-size: 1170px

//breakpoints "шпаргалка"
	//"phone"       : 400px,
	//"phone-wide"  : 480px,
	//"phablet"     : 560px,
	//"tablet-small": 640px,
	//"tablet"      : 768px,
	//"tablet-wide" : 1024px,
	//"desktop"     : 1248px,
	//"desktop-wide": 1440px


// Brakepoints
=lg
	+r(1199)
		@content
=md
	+r(1023)
		@content
=sm
	+r(767)
		@content
=xs
	+r(600)
		@content
