		<section class="benefit__bg">
			<div class="container">
				<div class="subtitle">
					<span></span>
					<h2>ЖК "За ручьем"<br><strong>Выгодное вложение в будущее</strong></h2>
					<span></span>
				</div>
			<div class="benefit">
				<div class="benefit__box">
					<img src="img/commerce/benefit/ruble.svg" alt="платежеспособное население">
					<h4>Платежеспособное<br>население</h4>
					<p>Достойному бизнесу - достойные клиенты</p>
					<span>Основная целевая аудитория - семьи</span>
					<span>Средний месячный доход семьи 95 т.р.</span>
					<span>Средниче цены на жилье 3 100 000 руб.</span>
				</div>
			<div class="benefit__box">
				<img src="img/commerce/benefit/layout.svg" alt="функциональное пространство">
				<h4>Функциональное<br>пространство</h4>
				<p>Любая планировка - по вашему желанию</p>
				<span>Количество несущих опор минимально</span>
				<span>Разные виды планировки - open-space, кабинетная</span>
				<span>Горизонтальная разводка отопления</span>
			</div>
			<div class="benefit__box">
				<img src="img/commerce/benefit/skyline.svg" alt="низкий уровень конкуренции">
				<h4>Низкий уровень<br>конкуренции</h4>
				<p>Новый район - новые возможности</p>
				<span>Небольшая плотность коммерческой застройки</span>
				<span>Новый район с новой инфраструктурой</span>
			</div>
			<div class="benefit__box">
				<img src="img/commerce/benefit/layout.svg" alt="Удобное расположение">
				<h4>Удобное<br>расположение</h4>
				<p>Университетская - артерия Сургута</p>
				<span>Средняя проходимость 1500 чел. /сутки</span>
				<span>Центр города Сургута</span>
			</div>
			</div>
		</div><!-- container -->
	</section>