<section class="s-bottom overlay__white" style="background-image: url(img/commerce/bottomBg.jpg);" >
	<div class="container">
		<div class="bottom">
			<div class="title">
				<h2>Недвижимость для бизнеса<br><span>в «За ручьем»</span></h2>
				<div class="hr"></div>
				<p>Открой успешное дело <br>в проектах успешной компании</p>
				<div class="social">
					<a href="#">
						<svg>
							<use xlink:href="img/svg/symbol/sprite.svg#fb"></use>
						</svg>
					</a>
					<a href="#">
						<svg>
							<use xlink:href="img/svg/symbol/sprite.svg#vk"></use>
						</svg>
					</a>
					<a href="#">
						<svg>
							<use xlink:href="img/svg/symbol/sprite.svg#youtube"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="tour">
				<span style="background-image: url(../img/commerce/i-phone.png);"></span>
				<h3><strong>запишись</strong><br>на экскурсию уже сейчас</h3>
				<div class="hr"></div>
				<form name="tour">
					<input type="text" name="name" placeholder="Ваше имя *" minlength="2" required>
					<input id="tour-phone" type="tel" name="phone" placeholder="Ваш телефон *" required>
					<input type="hidden" name="form__tour">
					<p>Отправляя форму вы даете согласие на <br> <a href="upload/privacy.pdf" target="_blank">обработку персональных данных</a></p>
					<button class="btn">записаться</button>
				</form>
					<p>Наш менеджер свяжется с вами<br> в течении 15 минут</p>
			</div>
		</div>
	</div>
</section>