<section class="s-callback">
	<div class="container">
		<div class="callback">
			<div class="manadger">
				<img src="img/commerce/manager.png" alt="Приходько Мария Юрьевна">
				<h4>Приходько<br>Мария Юрьевна</h4>
				<p>Ваш личный менеджер по недвижимости</p>
			</div>
			<div class="callback__form">
				<h4>Остались вопросы?</h4>
				<p>Оставьте ваш телефон и наш менеджер обязательно свяжется с вами</p>
				<form name="callback">
					<input type="text" name="name" placeholder="Ваше имя *" minlength="2" required>
					<input id="callback" type="tel" name="phone" placeholder="Ваш телефон *" required>
					<input type="hidden" name="form__callback">
					<button class="btn">заказать звонок</button>	
					<p>Отправляя форму вы даете согласие на <a href="upload/privacy.pdf" target="_blank">обработку персональных данных</a></p>
				</form>
			</div>
		</div>
	</div>
</section>