<section>
	<div class="container">
		<div class="subtitle">
			<span></span>
			<h2><strong>Гибкие условия</strong><br>и доступные цены</h2>
			<span></span>
		</div>
		<div class="condition wow fadeInUp" data-wow-duration="1s">
			<a href="javascript:void()" onclick="pb_front_widget.show({houseId: 21313,accountId: 21});" class="condition__box">
				<h4>Дом № 5</h4>
				<div class="hr__small"></div>
				<p>срок сдачи: <strong>IV </strong>кв. <strong>2020</strong> года</p>
				<span>подберем для вас индивидуальный размер площади</span>
				<span>арендная стоимость от 1100 руб.кв.м.</span>
				<span>предчистовая отделка</span>
				<span>центральные коммуникации</span>
				<span>продуманная система вентиляции</span>
				<span>парковка</span>
				<span>удобные подъездные пути</span>
				<button type="button" class="btn">смотреть помещения</button>
			</a>
			<a href="javascript:void()" onclick="pb_front_widget.show({houseId: 12859,accountId: 21});" class="condition__box">
				<h4>Дом № 6</h4>
				<div class="hr__small"></div>
				<p>срок сдачи: <strong>IV </strong>кв. <strong>2019</strong> года</p>
				<span>площадь от 45 кв.м</span>
				<span>арендная стоимость от 800 руб.кв.м.</span>
				<span>черновая/предчистовая отделка</span>
				<span>центральные коммуникации</span>
				<span>продуманная система вентиляции</span>
				<span>парковка</span>
				<span>удобные подъездные пути</span>
				<button type="button" class="btn">смотреть помещения</button>
			</a>
			<a href="javascript:void()" onclick="pb_front_widget.show({houseId: 807,accountId: 21});" class="condition__box">
				<h4>Дом № 7</h4>
				<div class="hr__small"></div>
				<p>дом <strong>сдан</strong></p>
				<span>площадь от 45 кв.м</span>
				<span>арендная стоимость от 1200 руб.кв.м.</span>
				<span>панорамное остекление</span>
				<span>черновая/предчистовая отделка</span>
				<span>покупка от 65 0000 руб.кв.м.</span>
				<span>высокая проходимость/проезжаемость</span>
				<span>удобные подъездные пути</span>
				<button type="button" class="btn">смотреть помещения</button>
			</a>
		</div>
		<div class="question">
			<span></span>
		</div>
		<div class="question__phone">
			<p>По всем вопросам вы можете обратиться к нашему менеджеру по номеру</p>
			<span>+7 (3462) <strong>38-53-73</strong></span>
		</div>
	</div><!-- container -->
</section>