<section>
	<div class="container">
		<div class="subtitle">
			<span></span>
			<h2><strong>Гибкие условия</strong><br>и доступные цены</h2>
			<span></span>
		</div>
		<div class="condition">
			<a href="#" class="condition__box">
				<h4>Продажа</h4>
				<div class="hr__small"></div>
				<span>Стоимость от 50 000 руб. / кв.м</span>
				<span>Площадь от 45 кв.м</span>
				<span>11 банков-партнеров</span>
				<button type="button" class="btn">узнайте больше</button>
			</a>
			<a href="#" class="condition__box">
				<h4>Аренда</h4>
				<div class="hr__small"></div>
				<span>Стоимость от 40 000 руб. / мес.</span>
				<span>Возможность выкупа</span>
				<span>Площадь от 45 кв. м.</span>
				<button type="button" class="btn">узнайте больше</button>
			</a>
			<a href="#" class="condition__box">
				<h4>Рассрочка</h4>
				<div class="hr__small"></div>
				<span>Первоначальный взнос от 10%</span>
				<span>Процентная ставка 0%</span>
				<span>Срок до 24 месяцев</span>
				<button type="button" class="btn">узнайте больше</button>
			</a>
		</div>
		<div class="question">
			<span></span>
		</div>
		<div class="question__phone">
			<p>По всем вопросам вы можете обратиться к нашему менеджеру по номеру</p>
			<span>+7 (3462) <strong>38-53-73</strong></span>
		</div>
	</div><!-- container -->
</section>