			<footer>
				<div class="container">
					<div class="footer">
						<div class="logo">
							<a href="/">
								<img src="img/logo.svg" alt="За Ручьем коммерческая недвижимость">
							</a>
							<p>КОММЕРЧЕСКАЯ НЕДВИЖИМОСТЬ<br> ЖК “ЗА РУЧЬЕМ” Г. СУРГУТ</p>
						</div>
						<div class="contacts">
							<span>г. Сургут, ул. Университетская, 19</span>
							<span>Пн.-Пт.: 8:00 - 20:00</span>
							<span>Сб.-Вс.:10:00 - 18:00</span>
						</div>
						<div class="tel">
							<a href="tel:73462385373">+7 (3462) <span>38-53-73</span></a>
							<a class="btn popup-with-form" data-effect="mfp-3d-unfold" href="#form-popup">заказать звонок</a>
						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						<p class="copyright__text">© 2015-2018, ООО «СТХ-ИПОТЕКА»</p>
						<div class="right">
							<a  href="#" target="_blank">ПРАВОВАЯ ИНФОРМАЦИЯ</a>
							<a  href="#" target="_blank">Проектная декларация</a>
						</div>
						<!-- Start Sells Copyright -->
						<div class="sells-copyright-block sells-copyright-right sells-copyright-light" style="display: none">
							<div class="sells-copyright-block__pop-up">
								<h3 class="sells-pop-up__title">Sells</h3>
								<p class="sells-pop-up__subtitle"><a href="https://sells.company/?utm_source=copyright&utm_content=popup" target="_blank" title="Маркетинговая компания Sells">sells.company</a></p>
								<p class="sells-pop-up__text">Комплексные маркетинговые решения для достижения целей вашего бизнеса</p>
							</div>
							<a href="https://sells.company/?utm_source=copyright&utm_content=logo" target="_blank" title="Маркетинговая компания Sells" class="sells-copyright-block__information">
								<div class="sells-copyright-block__text">Разработка и продвижение<br/>Компания Sells</div>
								<div class="sells-copyright-block__picture"><img src="http://jeema.ru/sells/sells_copyright/copyright_red.png"/></div>
							</a>
						</div>
						<!-- End Sells Copyright -->
					</div>
				</div>
			</footer>

  <style>
  	.sells-copyright-block {
  		display: block !important;
  	}

  	/* Общие элементы */
  	.mobile-invisible{
  		display: block;
  	}

  	.sells-copyright-block * {
  		padding: 0;
  		margin: 0;
  	}

  	/* Блок */
  	.sells-copyright-block {
  		position: relative;
  		background-color: transparent;
  		padding: 0;
  		margin: 0;
  	}

  	/* Стиль */
  	.sells-copyright-light,
  	.sells-copyright-light div,
  	.sells-copyright-light p {
  		color: white;
  	}
  	.sells-copyright-dark,
  	.sells-copyright-dark div,
  	.sells-copyright-dark p {
  		color: black;
  	}

  	/* Позиционирование */
  	.sells-copyright-left{
  		float: left;
  		left: 1%;
  	}
  	.sells-copyright-right{
  		float: right;
  		right: 1%;
  	}

  	/* Составные части */
  	.sells-copyright-block__information, .sells-copyright-block__information:hover{
  		padding: 0;
  		margin: 0;
  		font-family: 'Open Sans', sans-serif;
  		padding-top: 10px;
  		padding-bottom: 10px;
  		padding-right: 10px;
  		padding-left: 10px;
  		opacity: .8;
  		text-decoration: none;
  		color: inherit;
  		font-size: 12px;
  	}
  	.sells-copyright-block__text{
  		display: inline-block;
  		padding: 0;
  		margin: 0;
  		font-size: 12px;
  		text-align: right;
  		text-decoration: none;
  		text-transform: none;
  		line-height: 16px;
  		font-family: 'Open Sans', sans-serif;
  		vertical-align: top;
  		padding-top: 5px ;
  		padding-bottom: 5px;
  		padding-right: 8px;
  		font-weight: 300;
  		background: none;
  	}
  	.sells-copyright-block__picture{
  		display: inline-block;
  		padding: 0;
  		margin: 0;
  		height: 40px;
  		width: 40px;
  		text-align: right;
  		float: right;
  		opacity: .9;
  	}
  	.sells-copyright-block__picture img{
  		height: auto !important;
  		width: 100% !important;
  	}

  	.sells-copyright-light .sells-copyright-block__picture img{
  		filter: grayscale(100%) !important;
  	}


  	/* Всплывающее окно */
  	.sells-copyright-block__pop-up{
  		bottom: 65px;
  		width: 230px;
  		position: absolute;
  		display: none;
  		border-radius: 20px;
  		-webkit-box-shadow: 0 0 4px 0px rgba(0,0,0,0.2);
  		box-shadow: 0 0 4px 0px rgba(0,0,0,0.2);
  		padding-right: 20px;
  		padding-left: 20px;
  		padding-top: 20px;
  		padding-bottom: 20px;
  		background-color: white;
  	}
  	.sells-pop-up__title{
  		font-size: 24px !important;
  		font-weight: 200 !important;
  		padding-bottom: 10px !important;
  		color: rgb(232, 72, 20) !important;
  		font-family: 'Open Sans', sans-serif;
  	}
  	.sells-pop-up__subtitle {
  		margin: 0 0 10px 0 !important;
  		padding: 0 !important;
  		text-decoration: none !important;
  		text-transform: none !important;
  		background-color: white !important;
  		border-radius: 10px !important;
  		font-weight: 300 !important;
  		font-size: 12px !important;
  		color: #CCC !important;
  		font-family: 'Open Sans', sans-serif;
  	}

  	.sells-pop-up__subtitle a{
  		color:rgb(232, 72, 20) !important;;
  	}

  	.sells-pop-up__text{
  		margin: 0 0 10px 0 !important;
  		padding: 0 !important;
  		text-decoration: none !important;
  		text-transform: none !important;
  		background-color: white !important;
  		border-radius: 10px !important;
  		font-weight: 300 !important;
  		font-size: 12px !important;
  		color: #777 !important;
  		font-family: 'Open Sans', sans-serif;
  	}
  	.sells-pop-up__text:after{
  		content: "";
  		position: absolute; /* Абсолютное позиционирование */
  		left: 45%; bottom: -20px; /* Положение треугольника */
  		border: 10px solid transparent; /* Прозрачные границы */
  		border-top: 10px solid white; /* Добавляем треугольник */		
  	}

  	@media screen and (max-width: 1517px){
  		.sells-copyright-block__information{
  			padding-top: 5px;
  			padding-bottom: 5px;
  			padding-right: 5px;
  			padding-left: 5px;
  		}
  		.sells-copyright-block__text{
  			font-size: 10px;
  			line-height: 11px;
  			padding-top: 3px !important;
  			padding-bottom: 2px !important;
  			padding-right: 5px !important;
  			font-weight: 300;
  		}
  		.sells-copyright-block__picture{
  			height: 30px;
  			width: 30px;
  		}

  		.sells-copyright-block__pop-up{
  			bottom: 20px;
  			width: 200px;
  			font-size: 10px;
  			margin-bottom: 20px;
  		}

  		.sells-pop-up__text:after{
  			content: "";
  			position: absolute; /* Абсолютное позиционирование */
  			left: 45%; bottom: -20px; /* Положение треугольника */
  			border: 10px solid transparent; /* Прозрачные границы */
  			border-top: 10px solid white; /* Добавляем треугольник */		

  		}

  		.sells-pop-up__text{
  			text-decoration: none;
  			text-transform: none;
  			color: black;
  			background-color: white;
  			border-radius: 10px;
  			font-weight: 300;
  			min-height: 20px;
  			font-size: 10px;
  		}

  		.sells-pop-up__text-title{
  			font-size: 21px;
  			padding-bottom: 8px !important;
  		}

  	}


  	@media screen and (max-width: 1080px){

  		.mobile-invisible{
  			display: none;
  		}

  		.sells-copyright-left{
  			float:none;
  			left: 0%;
  			text-align: center;
  		}
  		.sells-copyright-right{
  			float: none;
  			right: 0%;
  		}

  		.sells-copyright-block{
  			width: 100%;
  			text-align: center;
  		}

  		.sells-copyright-block__text{
  			font-size: 10px;
  			line-height: 14px;
  			padding: 0px !important;
  			font-weight: 300;
  			text-align: center;
  		}
  		.sells-copyright-block__picture{
  			display: none;
  			float: none;
  		}

  		.sells-copyright-block__pop-up{
  			bottom: 10px;
  			min-height: 30px;
  			width: 100px;
  			font-size: 8px;
  			font-family: 'Open Sans', sans-serif;
  			opacity: 0;
  		}
  		.sells-pop-up__text:after{
  			content: "";
  			position: absolute; /* Абсолютное позиционирование */
  			left: 45%; bottom: -5px; /* Положение треугольника */
  			border: 5px solid transparent; /* Прозрачные границы */
  			border-top: 5px solid white; /* Добавляем треугольник */
  			padding-right:5px !important;
  			padding-left: 5px !important;
  			padding-top: 10px !important; 
  			padding-bottom: 10px !important;		
  		}
  	}
  </style>
<!-- End Sells Copyright -->