			<footer>
				<div class="container">
					<div class="footer">
						<div class="logo">
							<a href="/">
								<img src="img/logo.svg" alt="За Ручьем коммерческая недвижимость" title='ЖК "ЗА РУЧЬЕМ" г.Сургут'>
							</a>
							<p>КОММЕРЧЕСКАЯ НЕДВИЖИМОСТЬ<br> ЖК “ЗА РУЧЬЕМ” Г. СУРГУТ</p>
						</div>
						<div class="contacts">
							<span>г. Сургут, ул. Университетская, 19</span>
							<span>Пн.-Пт.: 8:00 - 20:00</span>
							<span>Сб.-Вс.:10:00 - 18:00</span>
						</div>
						<div class="tel">
							<a href="tel:73462385373">+7 (3462) <span>38-53-73</span></a>
							<a class="btn" href="#callback" data-effect="mfp-move-from-top">заказать звонок</a>
						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						<p class="copyright__text">© 2015-2019, ООО «СТХ-ИПОТЕКА»</p>
						<div class="right">
							<a  href="#" target="_blank">ПРАВОВАЯ ИНФОРМАЦИЯ</a>
							<a  href="#" target="_blank">Проектная декларация</a>
						</div>
           <!-- Start Sells Copyright -->
           <div class="sells-copyright-block sells-copyright-right" style="display: none">
            <div class="sells-copyright-block__pop-up">
              <h3 class="sells-pop-up__title">Sells</h3>
              <p class="sells-pop-up__subtitle"><a href="https://sells.company/?utm_source=copyright&utm_content=popup" target="_blank" title="Маркетинговая компания Sells">sells.company</a></p>
              <p class="sells-pop-up__text">Комплексные маркетинговые решения для достижения целей вашего бизнеса</p>
            </div>
            <a href="https://sells.company/?utm_source=copyright&utm_content=logo" target="_blank" title="Маркетинговая компания Sells" class="sells-copyright-block__information">
              <div class="sells-copyright-block__text">Разработка и продвижение<br/>Компания Sells</div>
              <div class="sells-copyright-block__picture"><img src="img/copyright_white.png"/></div>
            </a>
          </div>
          <!-- End Sells Copyright -->
        </div>
      </div>
    </footer>