<header>
	<div class="container">
		<div class="logo">
			<span>
				<img src="img/logo.svg" alt="За Ручьем - коммерческая недвижимость" title='ЖК "ЗА РУЧЬЕМ" г.Сургут'>
			</span>
			<p>КОММЕРЧЕСКАЯ НЕДВИЖИМОСТЬ<br> ЖК “ЗА РУЧЬЕМ” Г. СУРГУТ</p>
		</div>
		<div class="contacts">
			<span>г. Сургут, ул. Университетская, 19</span>
			<span>Пн.-Пт.: 8:00 - 20:00</span>
			<span>Сб.-Вс.:10:00 - 18:00</span>
		</div>
		<div class="tel">
			<a href="tel:73462385373">+7 (3462) <span>38-53-73</span></a>
			<a class="btn" href="#callback" data-effect="mfp-move-from-top">заказать звонок</a>
		</div>			
	</div>
</header>
