<section class="s-hero overlay" style="background-image:url(img/commerce/head.jpg);">
	<div class="container">
		<div class="hero">
			<div class="title wow fadeInLeft" data-wow-delay="1.8s">
				<h1>Недвижимость  для бизнеса<br><span>в «За ручьем»</span></h1>
				<div class="hr"></div>
				<p>Открой успешное дело <br>в проектах успешной компании</p>
			</div>
			<div class="advantages">
				<!-- <div class="advantages__item wow fadeInUp" data-wow-delay="1.8s">
					<span style="background-image:url(img/commerce/advantage/handshake2.svg);"></span>
					<p>Гибкие<br><strong>Условия покупки</strong></p>
				</div> -->
				<div class="advantages__item wow fadeInUp" data-wow-delay="1.8s">
					<span style="background-image:url(img/commerce/advantage/star2.svg);"></span>
					<p>Центр<br><strong>города</strong></p>
				</div>
				<div class="advantages__item wow fadeInUp" data-wow-delay="2s">
					<span style="background-image:url(img/commerce/advantage/ruble2.svg);"></span>
					<p>Платежеспособное<br><strong>население</strong></p>
				</div>
				<div class="advantages__item wow fadeInUp" data-wow-delay="2s">
					<span style="background-image:url(img/commerce/advantage/junction2.svg);"></span>
					<p>Первые<br><strong>Линии</strong></p>
				</div>
				<div class="advantages__item wow fadeInUp" data-wow-delay="2.2s">
					<span style="background-image:url(img/commerce/advantage/skyline2.svg);"></span>
					<p>Новая<br><strong>Инфраструктура</strong></p>
				</div>
			</div>
		</div>
		</div>
</section>
