<!-- Modal "CALLBACK" -->
<div class="form__box modal mfp-with-anim mfp-hide" id="callback__form-popup">
	<h2>заказать звонок</h2>
	<div class="hr__dirt"></div>
	<form name="callback__popup">
		<input type="text" name="name" placeholder="Ваше имя *">
		<input id="callback__popup" type="tel" name="phone" placeholder="Ваш телефон *" required>
		<input type="hidden" name="form__callback-popup">	
		<p>Отправляя форму вы даете согласие на <br><a href="upload/privacy.pdf" target="_blank">обработку персональных данных</a></p>
		<button class="btn">заказать звонок</button>
	</form>
</div>
<!-- Modal "WRITTEN" -->
<div class="form__box modal mfp-with-anim mfp-hide" id="written">
	<h2>записаться</h2>
	<div class="hr__dirt"></div>
	<form name="written">
		<input type="text" name="name" placeholder="Ваше имя *">
		<input id="written-form" type="tel" name="phone" placeholder="Ваш телефон *" required>
		<input type="hidden" name="written-popup">	
		<p>Отправляя форму вы даете согласие на <br><a href="upload/privacy.pdf" target="_blank">обработку персональных данных</a></p>
		<button class="btn">записаться</button>
	</form>
</div>
<!-- Modal "THANKS" -->
<div class="modal mfp-with-anim mfp-hide" id="thanks">
	<span>Ваше сообщение было отправлено.<br> В ближайшее время наш специалист свяжется с вами</span>
</div>
<!-- Modal "TEXT" -->
<div class="modal mfp-with-anim mfp-hide" id="text">
	<h2>текстовый попап</h2>
	<div class="hr__dirt"></div>
	<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>
	<p>Далеко-далеко за словесными горами в стране, гласных и .</p>
	<p>Далеко-далеко за словесными горами в стране, гласных и .</p>
	<p>Далеко-далеко за словесными горами в стране, гласных и .</p>
</div>