<section class="s-park">
	<div class="container">
		<div class="subtitle">
			<span></span>
			<h2><strong>Жилой заповедник</strong><br>"За ручьем"</h2>
			<span></span>
		</div>
	</div>
	<div class="owl-carousel park">
		<div class="park__item overlay__park" style="background-image: url(img/commerce/park/parkBg-1.jpg);"> 
			<div class="container">
				<h3>Подробнее о проекте</h3>

				<div class="hr"></div>
				<p>«За ручьем» — это 7 комфортабельных многоквартирных домов. Внутри — благоустроенные, уютные холлы, бесшумные лифты и квартиры со свободной планировкой, снаружи — просторная парковка под видеонаблюдением и площадки для семейного отдыха, закрытые от посторонних. <br><br>
				«За ручьем» — это гармоничный жилой оазис, с одной стороны окруженный удобной транспортной развязкой, с другой — бизнес-центрами и социальной инфраструктурой, с третьей — живописными зелеными зонами</p>
				<a href="http://www.zaruchiem.ru/" target="_blank" class="btn">на сайт</a>
				<a href="https://www.youtube.com/watch?v=_KQOBFbP574" class="btn btn__green js-video-popup">
					<svg class="icon icon__play-button"><use xlink:href="img/svg/symbol/sprite.svg#play-button"></use></svg> 
					видео
				</a>
			</div>
		</div>
		<div class="park__item overlay__park" style="background-image: url(img/commerce/park/parkBg-2.jpg);"> 
			<div class="container">
				<h3>Подробнее о проекте</h3>
				<div class="hr"></div>
				<p>«За ручьем» — это 7 комфортабельных многоквартирных домов. Внутри — благоустроенные, уютные холлы, бесшумные лифты и квартиры со свободной планировкой, снаружи — просторная парковка под видеонаблюдением и площадки для семейного отдыха, закрытые от посторонних. <br><br>
				«За ручьем» — это гармоничный жилой оазис, с одной стороны окруженный </p>
				<a href="http://www.zaruchiem.ru/" target="_blank" class="btn">на сайт</a>
				<a href="https://www.youtube.com/watch?v=_KQOBFbP574" class="btn btn__green js-video-popup">
					<svg class="icon icon__play-button"><use xlink:href="img/svg/symbol/sprite.svg#play-button"></use></svg> 
					видео
				</a>
			</div>
		</div>
		<div class="park__item overlay__park" style="background-image: url(img/commerce/park/parkBg-3.jpg);"> 
			<div class="container">
				<h3>Подробнее о проекте</h3>
				<div class="hr"></div>
				<p>«За ручьем» — это 7 комфортабельных многоквартирных домов. Внутри — благоустроенные, уютные холлы, бесшумные лифты и квартиры со свободной планировкой, снаружи — просторная </p>
				<a href="http://www.zaruchiem.ru/" target="_blank" class="btn">на сайт</a>
				<a href="https://www.youtube.com/watch?v=_KQOBFbP574" class="btn btn__green js-video-popup">
					<svg class="icon icon__play-button"><use xlink:href="img/svg/symbol/sprite.svg#play-button"></use></svg>
				видео
			</a>
			</div>
		</div>
	</div>
</section>