<div class="sidebar">
    <div class="menu" >
        <div class="menu_burger" id="fullwidth">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div class="sidebar_top">
            <ul>
                <li >
                    <a href="#callback__form-popup" data-effect="mfp-move-from-top" class="mobile callback-btn" id="mobile">
                        <img src="img/sidebar/iphone.svg" alt="">
                        <span class="hover-item">Заказать звонок</span>
                    </a>
                    
                </li>
                <li >
                    <a href="#" class="discount">
                        <img src="img/sidebar/discount.svg" alt="" >
                        <span class="hover-item">Акции!!!</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="#" class="hidden-sm" id="video-btn">
                        <img src="img/sidebar/discount.svg" alt="" >
                        <span class="hover-item">Видео</span>
                    </a>
                </li> -->
                <!-- <li>
                    <a href="banks.html" class="hidden-sm">
                        <img src="img/sidebar/home.svg" alt="">
                        <span class="hover-item">Банки</span>
                    </a>
                </li>
                <li>
                    <a href="news.html" class="hidden-sm">
                        <img src="img/sidebar/chat.svg" alt="">
                        <span class="hover-item">Банки</span>
                    </a>
                </li> -->
            </ul>

        </div>
        <div class="sidebar_bottom">
            <ul>
                 <li>
                    <a href="#text" data-effect="mfp-move-from-top" class="mobile">текст</a>
                </li>

                 <li>
                    <a href="#thanks" data-effect="mfp-move-from-top" class="mobile">спасибо</a>
                </li>

                <li>
                    <a href="#" class="mobile">
                        <img src="img/sidebar/vk.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" class="mobile">
                        <img src="img/sidebar/instagram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" class="mobile">
                        <img src="img/sidebar/facebook.svg" alt="">
                    </a>
                </li>

                <li>
                    <a href="#" class="mobile">
                        <img src="img/sidebar/youtube.svg" alt="">
                    </a>
                </li>
            </ul>

        </div>

    </div>

</div>