---
{% set title = 'За Ручьем-коммерческая недвижимость' %}
---
{% extends "layouts/commerce/layout.html" %}
{% include "partials/_mixins.html" %}
{% block content %}
{% include "partials/includes/_preloader.html" %}
{% include "partials/includes/_sidebar.html" %}
{% include "partials/includes/_cookie.html" %}
{% include "partials/_header.html" %}
{% include "partials/_hero.html" %}
{% include "partials/_condition.html" %}
{% include "partials/_benefit.html" %}
{% include "partials/_layout.html" %}
{% include "partials/_questions.html" %}
{% include "partials/_park.html" %}
{% include "partials/_bottom.html" %}
{% include "partials/_footer.html" %}
{% include "partials/includes/_modal.html" %}
{% endblock %}
