<section>
	<div class="container">
		<div class="subtitle">
			<span></span>
			<h2>жилье премиум класса по <br>выгодной цене<br> <strong>со скидкой 100 000 рублей</strong></h2>
			<span></span>
		</div>
		<p class="subtitle__text"><strong>Акция</strong> на квартиру недели</p>
		<div class="share">
			<div class="share__left wow fadeInLeft">
				<div class="sl__thumbs owl-carousel" data-slider-id="1">
					<div class="sl__thumbs-item" style="background-image: url(img/share/slide-1.jpg);"></div>
					<div class="sl__thumbs-item" style="background-image: url(img/share/slide-2.jpg);"></div>
					<div class="sl__thumbs-item" style="background-image: url(img/share/slide-3.jpg);"></div>
					<div class="sl__thumbs-item" style="background-image: url(img/share/slide-4.jpg);"></div>
				</div>
				<div class="owl__thumbs" data-slider-id="1">
					<button class="owl__thumbs-item" style="background-image: url(img/share/small-1.jpg);"></button>
					<button class="owl__thumbs-item" style="background-image: url(img/share/small-2.jpg);"></button>
					<button class="owl__thumbs-item" style="background-image: url(img/share/small-3.jpg);"></button>
					<button class="owl__thumbs-item" style="background-image: url(img/share/small-4.jpg);"></button>
				</div>
			</div>
			<div class="share__right">
				<h3>трехкомнатная квартира</h3>
				<span class="share__subtitle">На 15 этаже с улучшенной планировкой</span>

					<div class="share__icons advantages__icons">
						<div class="advantages__item wow fadeInUp" data-wow-delay=".4s">
							<span style="background-image:url(img/share/tree.svg);"></span>
							<p>Тихий<br><strong>уютный двор</strong></p>
						</div>
						<div class="advantages__item wow fadeInUp" data-wow-delay=".6s">
							<span style="background-image:url(img/share/balcony.svg);"></span>
							<p>Утепленный<br><strong>балкон 10 кв</strong></p>
						</div>
						<div class="advantages__item wow fadeInUp" data-wow-delay=".8s">
							<span style="background-image:url(img/share/layout.svg);"></span>
							<p>4 двухкамерных<br><strong>стеклопакета</strong></p>
						</div>
						<div class="advantages__item wow fadeInUp" data-wow-delay="1s">
							<span style="background-image:url(img/share/fan.svg);"></span>
							<p>3400 мм<br><strong>улучшенная вентиляция</strong></p>
						</div>
					</div>
					<div class="text--icon">
						<h5>кому подходит квартира?</h5><span></span>
					</div>
					<p>Что может лучше подойти для молодой семейной пары? Жемчужина Югры,  В самом центре Сургута, максимально не тронутый природный ландшафт местности с прекрасным парком и скверами.<p><br>
					<p>Зона семейного отдыха и прогулок, место для шоппинга и развлечения, школа и садик для детей. Все это в одном месте, в настоящее время.</p><br>
					<p>Покупая жилье в Жилом комплексе "За ручьем" вы инвистируете в благополучие своей семьи на долгие годы. 
					Успевайте приобрести то, о чем вы никогда не пожалеете.</p>
				</div>
			</div>

			<div class="proposal wow slideInUp">
				<span class="proposal__icon" style="background-image: url(img/share/start.svg);"></span>
				<p class="proposal__text">Специальная цена для вас<br> <strong>на время проведения акции*</strong></p>
				<span class="proposal__price proposal__price-old">8 500 000</span>
				<span class="proposal__price proposal__price-new">8 400 000</span>
			</div>

		</div>
	</section>